---
layout: page
title: Photography
---
{% for post in site.categories.sites %}
  <a href="{{ site.github.url }}{{ post.url }}">
    <div class="featured-posts" {% if post.image %}style="background-image:url({{ site.github.url }}/assets/img/{{ post.image }})"{% endif %}>
      <h2><span>{{ post.title }}</span></h2>
      
      Here are some of my film photos. I've been shooting with film since 2009 and here are some of my favorites. You will also see some of them in my blog posts.<br>
  
    </div>
  </a>
{% endfor %}
